{% extends "./layouts/layout.html" %}
<!-- fi -->
{% block title %}Profile{% endblock %}
<!-- fi -->
{% block content %}
<div>
  <h1>FastAPI Profile User</h1>
</div>

<div>
  <div>
    <div>
      <h5>Hi <mark>{{ user_data[1] }}</mark></h5>
      <p>This is a list with your data.</p>
    </div>
    <ul>
      <li>Firstname: <mark>{{ user_data[2] }}</mark></li>
      <li>Lastname: <mark>{{ user_data[3] }}</mark></li>
      <li>Country: <mark>{{ user_data[4] }}</mark></li>
    </ul>
  </div>
</div>
{% endblock %}
